/* General styles */
body {
    background-color: #bbc1c8;
    display: flex;
    justify-content: center;
    color: #383b45;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

span {
    line-height: 2em;
}

#info {
    text-align: center;
    font-size: 16px;
    height: 40px;
    color: rgb(255, 76, 240);
    place-content: center;
}


.wrapper {
    max-width: 1200px;
    place-items: center;
    margin: 0 auto;
}

/* Container for the boards */
.game-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

/* Style for game boards */
.game-board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

.game-board div {
    border: .3px solid #383b45;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

}

#game-props {
    max-width: 620px;
    padding: 10px;
    margin: 0 auto;
    background-color: #383b45;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-container {
    max-width: 640px;
    margin: 10px auto;
}

/* Style for draggable ships */
.ship {
    height: 30px;
    background-color: transparent;
}

.ship::before {
    content: '⬤';
    left: 1px;
    top: 3px;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 9999;
    cursor: grab;
    position: relative;
}

/* Ship colors and widths before placement */
#ship1 {
    background-color: #e1f927;
    width: 30px;
}

#ship2 {
    background-color: #b071f8;
    width: 60px;
}

#ship3 {
    background-color: #4751c3;
    width: 90px;
}

#ship4 {
    background-color: #01b5da;
    width: 90px;
}

#ship5 {
    background-color: #dd4a10;
    width: 150px;
}

/* Button styles */

.btn-restart {
    padding: 10px;
    background-color: rgba(0, 202, 224, .8);
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn-restart:hover {
    background-color: #383b45;
}

/* Display board information */
#game-info {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

/* for debuggings  */
.cpu-board-bg {
    background-color: #cef8f4 !important;
}

.taken {
    background-color: #cef8f4;
}

.hit {
    background-color: rgb(255, 76, 240);
    color: rgb(255, 76, 240);
}

.miss {
    background-color: rgba(0, 202, 224, .8);
    color: rgba(0, 202, 224, .8);
}

.sunk {
    background-color: black;
    color: black;
}

.start-screen {
    justify-content: center;
}

.start-screen input {
    margin: 10px;
    padding: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

form button {
    border: none;
    width: 500px;
    padding: 15px;
    color: #bbc1c8;
    background-color: #383b45;
    text-align: center;
}

form button:hover {
    background-color: rgba(0, 202, 224, .8);
    color: #383b45;
}

form input {
    border: none;
    height: 35px;
    color: #383b45;
    width: 500px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px
}